.header {
  background: #f5f6f7;
  border-bottom: solid 5px #f56a6a;
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  flex-wrap: wrap;
}

.h3 {
  text-align: center;
  font-family: fantasy;
  margin: 0;
  padding: 0;
  margin-left: 3rem;
}

@media (max-width: 768px) {
  .h3 {
    margin-left: auto;
    margin-right: auto;
  }
}
