*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: white;
}

#root {
  box-shadow: 0 0 5px 5px #f5f6f7;
  /* max-width: 1280px; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
